<div class="center">
  <h1 style="color: white; text-align: center">Employee Workday!</h1>
</div>

<div class="form_margin">
  <h2>Update Work Days</h2>
  <form [formGroup]="checkoutForm">
    <div>
      <label for="employeeId">
        EmployeeId
      </label>
      <input id="employeeId" type="text" formControlName="employeeId">
    </div>

    <div style="padding-top: 10px">
      <label for="days">
        Working Days
      </label>
      <input id="days" type="number" formControlName="days">
    </div>

    <div style="padding-top: 10px">
      <button class="mat-button" type="submit" (click)="onWorkUpdate(checkoutForm)">Update</button>
    </div>

  </form>
</div>

<div class="form_margin">
  <h2> Update Vacation days</h2>
  <form [formGroup]="checkoutForm">
    <div>
      <label for="id">
        EmployeeId
      </label>
      <input id="id" type="text" formControlName="employeeId">
    </div>

    <div style="padding-top: 10px">
      <label for="noOfDays">
        Vacation Days
      </label>
      <input id="noOfDays" type="number" formControlName="days">
    </div>

    <div style="padding-top: 10px">
      <button class="mat-button" type="submit" (click)="onVacationUpdate(checkoutForm)">Update</button>
    </div>

  </form>
</div>


<div style="padding-top: 10px">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

</div>
